<configuration>
	<property name="LOG_DIR" value="${app.log.dir}" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/action_desk.log</file>
		<append>true</append>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5level] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="AppLogger" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="OFF" />
</configuration>
